In [1]:
import pandas as pd
import numpy as np

In [2]:
def read_csv(path_name):
    df = pd.read_csv(path_name, index_col=False)
    return df

path_name= "data.csv" 
df= read_csv(path_name)    
df.tail()

,0,1,2,3,4,5,6,7,8,9,...,163,164,165,166,167,168,169,170,171,172
351083,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,342046
351084,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,1.0,84555
351085,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,...,0.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,0.0,308832
351086,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,1.0,98767
351087,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,336561

In [3]:
def prop_user_sign_up(df):
    total_num_users= df.shape[0] #  number of rows
    num_sign_ups= len(df[df['171']==1])
    prop_sign_up= num_sign_ups/total_num_users
    print("number of sign up users: ", num_sign_ups)
    print("total number of users: ", total_num_users)
    print( "proportion_of_users_signed_up: ", prop_sign_up )
prop_user_sign_up(df)

number of sign up users:  78113
total number of users:  351088
proportion_of_users_signed_up:  0.22248837898190768

In [4]:
def handle_missing(df):
    total_num_users= df.shape[0]
    
    df.drop(['172'], axis=1, inplace= True) #last col is user id
    df.rename(index=str, columns={'171': "signup"}, inplace= True) # last 2nd one is label
    
    #drop feature signup of nan
    df= df[df['signup'].notnull()]

    #drop the field(column) if more than 50% users values are missing
    cols_use= []
    for n in df.columns:
        num_of_nan= len(df[n].dropna())
        if num_of_nan> (total_num_users/2): cols_use.append(str(n))
    df= df[cols_use]
    
    #drop nan row
    df.dropna(inplace=True) 
    
    #save data
    df.to_csv('after_fix_missing.csv', index=False)
    return df
    
df= handle_missing(df)
df.head()

,0,1,2,3,4,5,6,7,8,67,...,141,142,154,155,156,159,163,164,165,signup
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.54,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.00,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.00,...,0.0,0.0,0.0,7.0,13.0,1.0,0.0,1.0,1.0,0.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.00,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.88,...,0.0,0.0,0.0,3.0,4.0,1.0,0.0,0.0,0.0,0.0